@import "./pages/homepage";
@import "./pages/auth";
@import "./pages/about";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: lightgray;
}

#body-bg {
  background-color: #333;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

nav {
  z-index: 2;

  #navbar-logo {
    width: 100px;
    margin-left: 2rem;
  }

  a {
    color: black;
    text-transform: uppercase;

    &:hover {
      color: grey;
    }
  }
}

#content {
  .card {
    margin-bottom: 5px;
    .card-img-top {
      width: 100%;
      height: 12rem;
    }
  }
}

#profile-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#signout-thumbnail {
  width: 30px;
  height: 30px;
  background-color: goldenrod;
  border-radius: 100%;
  display: inline-block;

  i {
    padding: 7px;
  }
}
@import "./mobile";
